Connected Services/AirLine_Service_Reference/Airline_WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://JTBAirLineandCruise.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://JTBAirLineandCruise.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://JTBAirLineandCruise.com/">
      <s:element name="GetResevationDataFromDB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Departure" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Departure_Date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResevationDataFromDBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResevationDataFromDBResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetResevationDataFromDBSoapIn">
    <wsdl:part name="parameters" element="tns:GetResevationDataFromDB" />
  </wsdl:message>
  <wsdl:message name="GetResevationDataFromDBSoapOut">
    <wsdl:part name="parameters" element="tns:GetResevationDataFromDBResponse" />
  </wsdl:message>
  <wsdl:portType name="Airline_WebServiceSoap">
    <wsdl:operation name="GetResevationDataFromDB">
      <wsdl:input message="tns:GetResevationDataFromDBSoapIn" />
      <wsdl:output message="tns:GetResevationDataFromDBSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Airline_WebServiceSoap" type="tns:Airline_WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetResevationDataFromDB">
      <soap:operation soapAction="http://JTBAirLineandCruise.com/GetResevationDataFromDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Airline_WebServiceSoap12" type="tns:Airline_WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetResevationDataFromDB">
      <soap12:operation soapAction="http://JTBAirLineandCruise.com/GetResevationDataFromDB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Airline_WebService">
    <wsdl:port name="Airline_WebServiceSoap" binding="tns:Airline_WebServiceSoap">
      <soap:address location="https://localhost:44385/Airline_WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="Airline_WebServiceSoap12" binding="tns:Airline_WebServiceSoap12">
      <soap12:address location="https://localhost:44385/Airline_WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>